[2019-07-08 20:56] tyvsmith opened #34 "Setup Best Practices Badge"
Review, make changes, and setup https://bestpractices.coreinfrastructure.org/en

[2019-07-08 21:08] tyvsmith opened #35 "Add Uber stage to project topics"
Add "Incubation" to project topic. See Cyborg for example.

[2019-07-08 22:17] tyvsmith opened #36 "Move project to uber-common"

[2019-07-08 22:30] tyvsmith opened #37 "Add Project Status Disclaimer"
In an effort to provide more transparency to project state, Add the appropriate disclaimer on the top of the README.

Some examples as follows:
-This project is a technical snapshot and will not be kept in sync.
-This project is deprecated and not maintained.
-This project is experimental and the APIs are not considered stable.
-This project is stable and being incubated for long-term support
-Thi

[2019-07-16 00:22] rudro opened #38 "Proper indentation of Mock files"
See the fixture data for an example of how the indentation is not normal :
https://github.com/uber/mockolo/blob/master/Tests/Fixtures/FixtureDuplicates4.swift#L123

Having the inner variable, code, etc. be at column 1 without indentation makes the code very hard to follow. Though in the common case, people may not be looking at these files, when writing unit tests, it's often useful to see the imp

[2019-07-16 21:10] #37 closed, assigned to nobody

[2019-07-16 21:38] #34 closed, assigned to elsh

[2019-07-16 21:38] #35 closed, assigned to elsh

[2019-07-17 04:20] #36 closed, assigned to nobody

[2019-07-25 02:04] rmaz opened #40 "Performance improvements"
There appear to be some performance issues when parsing dependent mocks as compared to generating all in one batch. We should profile and optimise to improve this.

Ref T3509083

[2019-07-25 02:57] #38 closed, assigned to nobody

[2019-07-25 03:27] rmaz opened #42 "Sourcekit responses are byte offsets, not character offsets"
https://github.com/apple/swift/blob/master/tools/SourceKit/docs/Protocol.md

This is why we were seeing overflow in some cases, if the file had utf8 then the byte offset can be larger than the character length.

[2019-07-25 03:44] rmaz opened #43 "Concurrency is not well balanced"
Looking at a trace shows the concurrency is poorly balanced at the end of model generation and rendering:

<img width="1520" alt="Screen Shot 2019-07-24 at 8 43 34 PM" src="https://user-images.githubusercontent.com/728850/61844313-d1fc4400-ae53-11e9-9327-8ab0de5967ce.png">

Most likely caused by large files, if so reverse sorting by size before processing could help.

[2019-07-26 18:06] rmaz opened #46 "Add filelist support"
We need a way to add input sources using a filelist for Xcode regeneration. We don't have a way of getting the root folder in that case (and the code for other targets may be mixed in).

[2019-07-29 18:58] #42 closed, assigned to nobody

[2019-07-29 19:40] #43 closed, assigned to nobody

[2019-07-29 19:41] #40 closed, assigned to nobody

[2019-07-29 20:04] #46 closed, assigned to nobody

[2019-07-30 22:27] kylejgabriel opened #51 "Add Variadic Parameters Support"
Does not currently support Variadic Parameters in function signatures.

Protocol definition:
`func example(strings: String...)`

Expected mock:
`var exampleHandler: ((_ strings: [String]) -> ())?`

Actual mock:
`var exampleHandler: ((_ strings: String) -> ())?`

[2019-08-26 23:21] #51 closed, assigned to nobody

[2019-09-17 06:55] omerturhan opened #55 "CocoaPods Support"
Hi

I would like to implement CocoaPods support for the mockolo.
Is it possible for you to add zipped executable to the release files?

Thanks.

[2019-12-02 22:35] elsh commented on #55
CocoaPods support would be useful for a library support but this tool can just run as a command line executable.  Could you provide a use case where CocoaPods would be needed?

[2019-12-03 10:44] devturhan commented on #55
I would like to add Mockolo execution to build phases without putting mockolo binary to the repo or forcing other developers to download the binary. Also, I don't want to put generated code to the repository. So the best way to handle this is by adding it as dependency to the dependency manager.

Also, tools like Sourcery and Swiftlint has that support for exactly this reason.

[2019-12-03 21:22] elsh commented on #55
Ok sounds good. Will add support for it.

[2019-12-19 00:00] elsh opened #70 "Need to handle static subscript when using sourcekit parser"
Sourcekit doesn't give info on whether subscript decl is static or not so will need to add handling for that.

[2020-01-09 00:12] elsh commented on #55
Waiting on https://github.com/CocoaPods/CocoaPods/issues/9471.

[2020-01-17 01:42] #55 closed, assigned to nobody

[2020-01-23 01:38] elsh opened #74 "Override init issue via sourcekit parser"

[2020-01-28 06:17] imairi opened #75 "How to generate mock for protocol includes macro"
Protocol includes macro, the method is not generated to mock result file. Is there a way to resolve this situation ?

[code]

If generate mock for the above protocol, Mock class includes `run` method but `showDebugMode` method is not generated.

[2020-02-06 19:56] maxwellE opened #78 "Can we create a new tag release?"
@elsh I need a new tag release with this change https://github.com/uber/mockolo/pull/76

[2020-02-09 01:50] elsh commented on #75
Can you mention what commandline you used to generate mocks? If you weren't using a commandline, can you mention which of the two parsers (sourcekit, swiftsyntax) was used?

[2020-02-09 10:10] elsh commented on #78
Let's wait till https://github.com/uber/mockolo/pull/79 is merged. Feel free to add yourself to the reviewer list (I tried to add you but it couldn't seem to find).

[2020-02-10 06:56] imairi commented on #75
@elsh

[code]

I generated mockolo binary and use it like the above command.

[2020-02-10 22:45] elsh opened #81 "Filter class members"

[2020-02-11 03:24] elsh commented on #78
https://github.com/uber/mockolo/releases/tag/1.1.3

[2020-02-11 03:24] #78 closed

[2020-02-12 00:18] elsh commented on #75
See https://github.com/uber/mockolo/pull/82

[2020-02-13 01:43] imairi commented on #75
@elsh
I confirmed to generate the mocks includes macro syntax, it works. Thanks for quickly fixing.

[2020-02-13 01:43] #75 closed

[2020-02-17 11:54] FranzBusch opened #83 "Support imports wrapped in macros"
Brought up in this PR: #82

We have the use-case where we have certain import statements wrapped in `#if` macros to only import them in e.g. debug builds. Mockolo is right now picking up every branch it would be great if it would retain the macros in the generated code as well.

[2020-02-17 11:57] FranzBusch opened #84 "Ability to add custom imports"
It would be great to have the ability to add custom imports which can be passes trough a command line option.

Background:
Let's say we have module `A` and the respective test target `ATests`. If we want to put the generated mocks from `A` into the `ATests` target it will miss the `@testable import A` at the top and won't compile.

Maybe you could also explain where you suggest to put the generate

[2020-02-18 07:47] SebastianBoldt commented on #84
I experienced the same issue today. I also don't want to add all the protocols, we want to mock, to the test target. You can accomplish this by using the --header parameter.

`mockolo --header "@testable import YourModuleName"`

@FranzBusch If you are looking for another mocking/stubbing Framework which is capable of those things you could also use Cuckoo. It's more powerful that Mockolo.

[2020-02-19 04:34] elsh commented on #84
@FranzBusch  We will add custom imports as a separate input option; in the meantime the --header option should unblock you as suggested above.

Re: best practices, putting mocks in a separate target is probably the cleanest. Alternatively you can put mocks in a module (with #if macro guard around the mocks content) and import it in tests.  Putting mocks in a test target is ok as long as you don't

[2020-02-19 04:36] elsh commented on #83
Triaged

[2020-02-19 06:31] FranzBusch commented on #84
@elsh Thanks for your feedback. We came to the same conclusions and we put the mocks into the main target now with a macro around them.

[2020-02-20 23:29] elsh commented on #84
https://github.com/uber/mockolo/pull/86

[2020-02-23 11:42] marciniwanicki opened #87 "Header "-h" option does not work as intended"
According to the documentation, "-h" should allow to specify header documentation (or even some imports if needed https://github.com/uber/mockolo/issues/84).

[code]

Looks, it conflicts with the "help" command built into SwiftPM ArgumentParser, in which case the "help" command takes precedence and generation does not start.

Some possible solutions:
- rename short name, i.e. `--header, -hr`
- rem

[2020-02-24 15:51] FranzBusch opened #88 "Understanding the -mocks flag"
I wanted to use the `-mocks` flag to avoid generating some mocks twice for a module that depended on another one. Maybe I misunderstood the usage of the flag. I have the following scenario:

ModuleA
[code]

ModuleB
[code]

Now I run a generate command for both targets. For ModuleB everything is fine and it generated the right mocks. However in ModuleA it generated mocks for the `InternalProtocol`

[2020-02-24 19:23] elsh commented on #87
Good catch! Will drop the short name for that; or feel free to send a pr with the short name removed.

[2020-02-24 19:45] elsh commented on #88
The -mocks option takes in a list of files that contain output mock _classes_ of other modules. These mock classes are then used to resolve inheritance for the current module in case accessing protocols in those other modules is not possible. This applies only if you're building mocks per module. You can see a usage example at MockoloTestCase:InitTests:testSimpleInitParams().

Re: splitting public

[2020-02-24 22:00] FranzBusch commented on #88
Okay I see. I think having an option which allows to only take public protocols from certain dirs would be great. However I cannot imagine how this could be cleanly expressed in a command line arg. Have you thought about creating .yml config files?

I would also be open to implement some stuff.

[2020-02-25 01:46] elsh commented on #88
It should already generate mocks for public protocols only when there are cross module dependencies. How are you running the tool?  Can you post your command line along with input args?  Sounds like it could be something that can be achieved by saving mock results per module, instead of all in one file.

[2020-02-25 01:48] elsh commented on #88
We would def. welcome that. Feel free to push a PR if this is something we agree on from this discussion or if you want us to have a look first.

[2020-02-25 06:17] maxwellE commented on #84
Fixed in #89

[2020-02-25 08:39] FranzBusch commented on #88
@elsh You are absolutely right using the generated mocks from another module work perfectly fine. I just used the wrong parameters/missed some annotations yesterday. I will close this issue. Thanks for your input!

[2020-02-25 08:39] #88 closed

[2020-02-25 21:38] elsh commented on #87
https://github.com/uber/mockolo/pull/90 merged.

[2020-02-25 21:38] #87 closed

[2020-02-25 21:38] #84 closed

[2020-02-26 08:16] marciniwanicki commented on #87
Many thanks @elsh !

[2020-03-01 15:49] marciniwanicki opened #93 "Order of log levels"
The current order of log levels:

[code]

Having those levels is nice as it allows the client code to decide how much information should be logged (or presented to the users).

The order of log levels is smoothly distributed between the most verbose (like `verbose`, `trace` or `debug`) and critical (`error` or `critical` etc).

I think the `info` and `verbose` cases could be swapped to allow uses

[2020-03-01 17:00] marciniwanicki opened #95 "Specify module to avoid type ambiguity"
Protocols with the same name can be available in multiple modules, i.e. `FileSystem` and other common symbols. SwiftPM `FileSystem` is a good example:

[code]

The generated mock for `FileSystem` protocol will not compile due to type ambiguity (the compiler will not know if we want to inherit from SwiftPM `FileSystem` or the one in our Framework).

One possible solution would be adding `module` at

[2020-03-01 20:02] elsh commented on #95
Yes this was on our todo list for a while; will add this.

[2020-03-01 23:53] elsh commented on #95
https://github.com/uber/mockolo/pull/96

[2020-03-03 20:00] #93 closed

[2020-03-04 16:57] tinder-maxwellelliott opened #97 "Support for Homebrew Formula"
I have been investigating possibly allowing Mockolo to be installed via Homebrew. Are there any blockers to doing this? My strategy was to use the tarball creation script

`./install-script.sh -s [source dir] -t mockolo -d [destination dir] -o [output filename]`

To generate a tarball that the brew formula would install and then use homebrew's bin linking to make mockolo globally executable

[2020-03-04 21:14] marciniwanicki commented on #97
It's a nice idea. I think there are no technical obstacles. On the other hand the formula might be not accepted for `homebrew/core` just yet. One of the requirements is for the formula to "be known". Maybe mockolo is already "known" - don't know :) Check out https://docs.brew.sh/Acceptable-Formulae for more info. It's quite common solution and allows to quickly upstream new versions.

Another opti

[2020-03-04 22:34] tinder-maxwellelliott commented on #97
Can we just update the latest release with the output from `./install-script.sh -s [source dir] -t mockolo -d [destination dir] -o [output filename]`. If we do that our teams can at least make their own taps and start using mockolo via homebrew

[2020-03-04 23:02] marciniwanicki commented on #97
Could work but it would probably skip few artifacts which brew implicitly include in the so called bottles (`README.md`, `LICENSE` etc.). Also, not sure if the output is brew-friendly, have the right folder structure (`mockolo/<version>/bin` etc).

A simple formula using `swift build` should allow the users to build the brew formula locally (when using `brew install`). It can also use prebuilt bin

[2020-03-04 23:11] #95 closed

[2020-03-04 23:18] marciniwanicki opened #98 "Possibly redundant _doneInit"
I am not sure if `_doneInit` variable in the generated class is needed. The only use-case I've seen so far was a computed variable when it was protecting the counter so it's not incremented on the initial set.

[code]

but it seems, the same can be achieved by accessing the underlying variable directly.

[code]

Few other things I'd consider:
- replacing `underlying` prefix with `_` to make it mor

[2020-03-04 23:39] tinder-maxwellelliott commented on #97
The issue with building from source is that it is very painful, can take up to 5 minutes! Other swift command line tools are able to support this so I believe it is possible for mockolo. Using brew would really open up the user base of this project.

As for version management yes you need to write more code to manage the versions as brew does not have the ability built it, is is pretty easy to scr

[2020-03-05 19:34] elsh commented on #97
There's nothing preventing it; it's been on the todo list.  Looks like brew cask might be an option for a binary only distribution if we go down that road.  We can look into this soon.

[2020-03-06 02:17] elsh commented on #98
That's a good idea. Will remove it.

[2020-03-06 18:09] tinder-maxwellelliott commented on #97
Can I build a cask for you guys? Is that okay?

[2020-03-06 18:20] elsh commented on #97
Yes go ahead

[2020-03-07 18:30] tinder-maxwellelliott commented on #97
Formula PR is here https://github.com/Homebrew/homebrew-core/pull/51274

[2020-03-07 20:47] tinder-maxwellelliott commented on #97
This will not work, building the formula takes too long on CI to even pass, we need to create a Cask. Can we make a new tagged release with a tar.gz of the built binaries attached to it? I need that tar.gz to create the cask https://github.com/Homebrew/homebrew-cask/blob/master/doc/development/adding_a_cask.md

[2020-03-08 06:42] elsh commented on #97
Added https://github.com/uber/mockolo/releases/download/1.1.5/mockolo.tar.gz

[2020-03-08 16:04] tinder-maxwellelliott commented on #97
https://github.com/Homebrew/homebrew-cask/pull/78324

[2020-03-08 22:14] elsh commented on #97
Fyi, the dylib in the same tarball, which is needed to run mockolo (and has to be in the same directory as the executable), requires xcode 11.0+ (swift 5.1+).

[2020-03-09 18:17] tinder-maxwellelliott commented on #97
Okay I am attempting this again, https://github.com/Homebrew/homebrew-core/pull/51274 , I am not sure the build will finish in time, sometimes the swift build times out

[2020-03-11 23:01] elsh commented on #97
Thanks for pushing the pr. Looks like all checks have passed, pending a final review.

[2020-03-12 00:34] tinder-maxwellelliott commented on #97
Do you want to comment on that PR, I am not sure when they will get around to looking at it

[2020-03-12 01:40] elsh commented on #97
done

On Wed, Mar 11, 2020 at 5:34 PM Maxwell Elliott <notifications@github.com>
wrote:

[2020-03-13 15:18] #97 closed

[2020-03-13 23:14] elsh commented on #97
🎉

[2020-03-16 16:46] FranzBusch opened #100 "Support methods with inout parameters"
We have code that has a method with an `inout` parameter which generates invalid mock code.

Example:

[code]

generates this:

[code]

The generated code fails to compile

[2020-03-17 08:33] sbarow opened #101 "Optional Generic not generated correctly"
With the following definition

[code]

The generated output will be

[code]

The non optional method correctly generated `T` as `Any` while with the optional it is generated as `T?`  this causes a compilation error `Use of undeclared type 'T'`.

[2020-04-01 07:47] uhooi opened #104 "Cannot install with Mint"
When trying to install Mockolo with Mint, the following error occurs:

[code]

How can I solve it?

---

## Environments

### Versions

- Mint: 0.14.1
- Mockolo: 1.1.5

### Mintfile

[code]

### Environment Variables

- MINT_PATH: /Users/{user name}/.mint/lib
- MINT_LINK_PATH: /Users/{user name}/.mint/bin

[2020-04-01 23:18] elsh commented on #100
resolved

[2020-04-01 23:18] #100 closed

[2020-04-01 23:19] elsh commented on #101
resolved

[2020-04-01 23:19] #101 closed

[2020-04-01 23:19] elsh commented on #98
resolved

[2020-04-01 23:19] #98 closed

[2020-04-01 23:56] elsh commented on #104
resolved; see https://github.com/uber/mockolo/pull/103

[2020-04-01 23:56] #104 closed

[2020-04-02 00:11] elsh commented on #104
https://github.com/uber/mockolo/releases/tag/1.2.0

[2020-04-02 00:11] elsh commented on #101
https://github.com/uber/mockolo/releases/tag/1.2.0

[2020-04-02 00:11] elsh commented on #100
https://github.com/uber/mockolo/releases/tag/1.2.0

[2020-04-02 00:11] elsh commented on #98
https://github.com/uber/mockolo/releases/tag/1.2.0

[2020-04-02 01:21] uhooi commented on #104
Works fine with Mockolo 1.2.0.
thx😊

[2020-04-07 12:24] dangthaison91 opened #105 "Support output as Directory"
Input params `-s --souredirs` support scan all files in a folder/directory but the output will be merged into one file.

Could you support to generate into multiple files, map 1-1 with input files?

[2020-04-07 23:22] elsh commented on #105
Yes, it's been in the backlog.  We can do per source directory.

If you need output per source file, can you describe a situation where that would be useful vs. per source dir?

[2020-04-08 10:25] FranzBusch opened #106 "Duplicate generation of init"
When defining a protocol with an `init()` mockolo generates two `init()`s

Example:
[code]

Output:

[code]

Only one `required init` should be generated

[2020-04-09 07:23] elsh commented on #106
resolved https://github.com/uber/mockolo/releases/tag/1.2.1

[2020-04-09 07:23] elsh commented on #83
resolved https://github.com/uber/mockolo/releases/tag/1.2.1

[2020-04-09 07:23] #83 closed

[2020-04-09 07:23] #106 closed

[2020-04-20 11:24] FranzBusch opened #107 "Release 1.2.1 is missing the binary"
As far as I can see the latest release of mockolo is missing the attached binary in the GitHub release. Would be great if you can attach it @elsh

<img width="840" alt="Screenshot 2020-04-20 at 13 23 35" src="https://user-images.githubusercontent.com/3491887/79746355-24e32900-830a-11ea-890e-5df3d3cffc48.png">

[2020-04-20 23:13] elsh commented on #107
Attached

[2020-04-20 23:13] #107 closed

[2020-04-21 23:43] tinder-maxwellelliott opened #108 "lib_InternalSwiftSyntaxParser.dylib linking issue with Homebrew"
I am having this issue with some laptops using Mockolo when running the homebrew version:

[code]

Strangely enough some laptops run this command totally fine, other break

[2020-04-22 21:30] elsh commented on #108
That means the dylib is missing; it requires Xcode 11.0+. Can you check if the laptops have the correct xcode version installed?

[2020-04-23 20:46] tinder-maxwellelliott commented on #108
My laptop is currently running XCode 11.4, so this is surprising to see

On Wed, Apr 22, 2020 at 2:30 PM ellie <notifications@github.com> wrote:

[2020-04-23 23:20] elsh commented on #108
I've attached two binaries to the release, mockolo.tar.gz built with swift 5.2 (xcode 11.4+), and mockolo-swift5.1.tar.gz built with swift 5.1 (< xcode 11.3). Can you try both and see if either one fails? thanks.

[2020-04-24 01:30] tinder-maxwellelliott commented on #108
The thing is that in [Homebrew](https://github.com/Homebrew/homebrew-core/blob/fc7b5932db5ffccbf9f4115118e06defc991788d/Formula/mockolo.rb) we just compile without linking to a dylib

[code]

[2020-04-24 02:15] elsh commented on #108
Looks like there's a compatibility issue between Xcode 11.4+ and 11.3- similar to https://github.com/realm/SwiftLint/issues/3105.  What happens if you set the depends_on :xcode version to 11.4?  If that doesn't work, we might have to dynamically load it, like https://github.com/jpsim/SourceKitten/blob/master/Source/SourceKittenFramework/library_wrapper.swift.

[2020-04-24 18:01] tinder-maxwellelliott commented on #108
We can have the brew formula rely on sourcekitten from brew itself, does this solve our issue?

[2020-04-24 18:10] elsh commented on #108
Do you mean swiftsyntax? If that works that would probably be the best.

On Fri, Apr 24, 2020 at 11:01 AM Maxwell Elliott <notifications@github.com>
wrote:

[2020-04-24 18:29] tinder-maxwellelliott commented on #108
Sourcekitten can be installed via Brew

`brew install sourcekitten`

Can we somehow consume that binary?

[2020-04-24 18:39] elsh commented on #108
The error is not related to sourcekitten.  It's due to swiftsyntax between the xcode versions. If we set the 'depends_on xcode' version to 11.4, this error might be resolved.

[2020-04-25 15:29] tinder-maxwellelliott commented on #108
Could this approach work?

`swift build --configuration release -Xlinker -weak-l_InternalSwiftSyntaxParser`

[2020-04-25 18:35] elsh commented on #108
I don't think it resolves it, as @rpath to the internal dylib still shows up if you run otool -L mockolo.
Could you try setting the version to 11.4 and see if it fixes the error?  If not, either we'll have to  dynamically load the dylib or see if we can use lines 72-74 from install-script.sh (mockolo) in homebrew: def install.

[2020-04-28 11:09] kuritatu18 opened #109 "Unknown attribute 'MockObservable'"
The protocol contains Observable and generates a mock that gives an error. mockolo is installed with mint. Is there a way to resolve this situation?
- protocol
[code]
- mock
[code]

[2020-05-01 18:04] tinder-maxwellelliott commented on #108
Can we make another shell script that homebrew can run to do these 2 commands?

[code]

[2020-05-04 22:12] elsh commented on #108
It will require tarballing both the mockolo executable and the dylib to run the executable. Does homebrew allow that?   Also, did you happen to see if requiring Xcode 11.4 fixes the error?

[2020-05-06 07:33] akkyie commented on #109
Same here. We were able to use Mockolo without any dependency before (until 1.2.0 I think?) but now we need import `MockObservable` to compile its output.
I think we should [import MockoloFramework](https://github.com/uber/mockolo#add-mockoloframework-to-your-project) to get it running, however we have to copy the source code directly to our project since it's not available on iOS ☹️

Does it have

[2020-05-09 05:46] vsanthanam opened #110 "Support for Combine"
Add support for annotation attributes for Combine subjects and publishers so they too can be easily mocked.

[2020-05-14 00:25] elsh commented on #109
Sorry for the delay.  Will resolve this asap.

[2020-05-14 05:11] elsh commented on #109
Resolved https://github.com/uber/mockolo/releases/tag/1.2.2

Please close once it's verified. Thanks.

[2020-05-14 20:59] elsh commented on #109
Feel free to reopen if it's still unresolved.

[2020-05-14 20:59] #109 closed

[2020-06-01 15:25] andooown opened #111 "Is there any way to assert function argument histories?"
I would't like to assert function argument histories like as bellow.
[code]

Is there any way to achive this? And if I can't do currently, can I contribute to implement this feature?

[2020-06-03 23:51] elsh commented on #111
This is currently not supported; contributions are welcome!

Do you want the history to be enabled for all funcs or only for some funcs?

If the former, you can add an input flag (e.g. --enable-args-history) to the commandline, and support it if the flag is enabled.

If the latter, you could utilize arguments to the @mockable annotation (e.g. /// @mockable(history: fooFunc = true; barFunc = true))

[2020-06-04 09:07] andooown commented on #111
@elsh
Thanks! I'd like to contribute!

I think the former way is better because it's easy to use.
However, do you have any concerns? (e.g. performance)

[2020-06-05 02:51] andooown commented on #111
@tinder-maxwellelliott
Yes, it's right.

However, we must implement like that many times in some usecases.
For example, my app is built with VIPER architecture and our Presenters output effects to Views/Interactors by calling those functions like as bellow. (In fact, it's more complicated than that.)
In this usecase, using test spy is easy way.

[code]

And some other mock generators support this

[2020-06-05 02:57] elsh commented on #111
The only concern is that if you enable this for all funcs, there will be more generated code, thus the compile time of mocks will increase as well, so use it at your discretion.

I agree with @tinder-maxwellelliott that this can easily be supported in the test code itself as in the example.  However, if you don't want to have to write it for all funcs in the tests and that you have a lot of funcs,

[2020-06-05 03:08] andooown commented on #111
OK, I also agree with @tinder-maxwellelliott and worry about the compile time of mocks.
So I suggest the flexible way as bellow.

1. By default, generate argument capture with only annotated funcs. (e.g. `/// @mockable(history: fooFunc = true; barFunc = true)`)
1. if passed `--enable-args-history` args, generate argument captures with all funcs and ignore annotations.

How about it?

[2020-06-05 03:28] elsh commented on #111
Sounds good. Let me know if you have any questions re: implementation.

On Thu, Jun 4, 2020 at 8:09 PM andooown <notifications@github.com> wrote:

[2020-06-05 03:59] andooown commented on #111
@elsh Thanks! I'm going to start implementing!

[2020-06-05 05:23] andooown commented on #111
@elsh
Test failed on your latest commit(ec8361f3cd2c400d20e7927ccdec153f8813b6b9).
Were you about to start something?

[2020-06-05 06:21] elsh commented on #111
Pull the latest

[2020-06-05 07:11] elsh commented on #110
@vsanthanam  Per discussion, could you add examples here?

[2020-06-05 07:21] elsh opened #113 "Remove sourcekitten from dependencies"
@devturhan Are you still actively using mockolo via cocoapods?  We're considering removing sourcekitten from dependencies as the other parser (swiftsyntax) is more performant and has been set to default for some time now. If removed, we won't be able to support mockolo via cocoapods any longer, as swiftsyntax is not a pod. You can still use mockolo via other means, mint, brew, etc (see README) but

[2020-06-05 09:59] devturhan commented on #113
@elsh Nope we are not using it, thanks for asking 🙏

[2020-06-05 18:42] elsh commented on #113
No prob! We’ll go ahead and remove sourcekitten then. Thanks.

[2020-06-05 18:42] #113 closed

[2020-06-05 18:43] #74 closed

[2020-06-05 18:43] #70 closed

[2020-06-05 21:50] elsh commented on #108
Revisiting this; @tinder-maxwellelliott if you set the xcode version to 11.4 (now that mockolo requires 11.4+), does this error still repro?

[2020-06-05 22:58] tinder-maxwellelliott commented on #108
This has gone away! Thanks!

[2020-06-06 17:49] andooown commented on #111
I implemented it in #114!

[2020-06-08 15:05] dangthaison91 opened #115 "Custom type property should not be private"
I tried to generate a protocol that has computed/store properties use custom type. Mockolo will generate an Implicit Unwrap Optional property but mark it as private. Therefore no way to set value and Test will crash.

Example:

[code]
Mock:

[code]

I think `_loadingConfig` should be mark as public.

[2020-06-08 15:34] dangthaison91 commented on #115
Nevermind, I am thinking of other libraries styles. In this case, I can mutate/set `loadingConfig` directly. I think Mockolo way sometimes is better and cleaner in writing test code.

[2020-06-08 15:34] #115 closed

[2020-06-08 21:23] #111 closed

[2020-06-08 21:26] elsh commented on #111
@andooown Thanks for implementing this! 👍   It's been merged to master.

[2020-06-09 02:16] andooown commented on #111
@elsh Thanks for your reviews!

[2020-06-11 18:17] vsanthanam commented on #110
When mockolo is mocking a property, is does something special if the property is an `Observable<Element>`

The generated mock will not crash you try to access the property before assignment, and is instead automatically backed `PublishSubject`. An additional ivar is created to allow the consumer to add values to the sequence, and additional options exist to control what kind of subject is used to

[2020-06-17 23:05] ashare80 opened #116 "Swift Package Manager compiler errors"
Creating an empty project and adding Mockolo does not build.

[code]

[2020-06-17 23:09] ashare80 opened #117 "Swift Package Manager dependency resolution fails"
because no versions of mockolo match the requirement 1.2.4..<2.0.0 and package mockolo is required using a version-based requirement and it depends on unversion package swift-tools-support-core, mockolo >=1.2.3 is forbidden.
And because root depends on mockolo 1.2.3..<2.0.0, version solving failed

[2020-06-19 03:33] elsh commented on #117
Good catch. Resolved at https://github.com/uber/mockolo/releases/tag/1.2.4.

[2020-06-19 03:33] #117 closed

[2020-06-19 03:39] elsh commented on #116
Mockolo requires macOS 10.15+.  Remember to add it to your Package.swift as follows:

    platforms: [
        .macOS(.v10_15),
    ],
    dependencies: [
       .package(name: "Mockolo", url: "https://github.com/uber/mockolo.git", .exact("1.2.4")),
    ],
    targets: [
        .target(
            name: "your_target_name",
            dependencies: [
                .product(name: "MockoloFramew

[2020-06-19 03:39] #116 closed

[2020-07-20 21:42] tinder-maxwellelliott commented on #108
For people still be guided here by the Google Search Gods here is how to fix this issue:

1. Run `xcode-select -p`, see your current Xcode path
2. Update the name of your current Xcode application to `Xcode.app`, often this name can contain numbers or other characters that cause issues. Copy this new path.
3. Run `xcode-select -s YOUR_NEW_RENAMED_XCODE_APP_PATH`
4. Mockolo will work as expected

[2020-07-20 21:44] tinder-maxwellelliott commented on #108
@elsh Is there no possible way to avoid a Dylib here at all? Can we make a static framework and avoid this all together?

[2020-07-20 22:03] elsh commented on #108
Static? no it required building too many pieces in swift repo the last time
tried. We can try dlopen. What's the main issue anyway?

On Mon, Jul 20, 2020 at 2:45 PM Maxwell Elliott <notifications@github.com>
wrote:

[2020-08-05 02:04] tinder-calebdavis opened #119 "Casting a closure when using generic closures"
Mockolo is struggling to figure out the generic type if it is returned in a closure.   If you give a parameter with a closure that is a `Swift.Result` with a `T`, Mockolo will successfully figure out the handler, but when consuming the handler it struggles to cast the handler correctly.

Consider this example:

[code]
Produces the generated mock below which does not compile with the follow error:

[2020-08-11 15:41] tinder-maxwellelliott opened #120 "Create a new release?"
Can we cut a new release for Mockolo? Thanks

[2020-08-23 07:13] marcelofabri opened #122 "Add --version"
It'd be great to add a `--version` option to double check the installed version

[2020-08-24 20:10] siddarthkalra opened #123 "Enhance function arguments history annotation syntax to support multiple functions"
The ReadMe states that the following provides the ability to capture function arguments history:

[code]

But if I wanted to track the history for multiple functions, say `fooFunc` and `barFunc`, there doesn't seem to be a way to convey that to Mockolo. For e.g. I thought something like this would work but it didn't (I tried a few different variations of the syntax but couldn't get it to work)

[c

[2020-08-31 04:24] imairi opened #124 "Impossible to generate mocks by Xcode 12"
Install mockolo using Xcode 12.0 following the below operation.

[code]

To Generate mocks, run the below command, SwiftSyntax.ParserError is occurred. It is failed to generate mock.

[code]

[code]

This issue may be occurred from Xcode 12.0 beta 1. ( latest beta version as well. )

[2020-08-31 08:31] bezoadam commented on #109
I still have same problem with version 1.2.4 and don't know how to resolve it.

[2020-08-31 08:49] elsh commented on #123
The delimiter is a semicolon, not a comma. Can you try this?
 /// @mockable(history: fooFunc = true; barFunc = true)

[2020-08-31 08:50] elsh commented on #124
triaged

[2020-08-31 10:11] elsh commented on #122
triaged

[2020-08-31 10:16] elsh commented on #122
https://github.com/uber/mockolo/releases/tag/1.2.5

[2020-08-31 10:16] #122 closed

[2020-08-31 10:16] elsh commented on #120
Sorry for a delay. https://github.com/uber/mockolo/releases/tag/1.2.5

[2020-08-31 10:16] #120 closed

[2020-08-31 10:29] marcelofabri commented on #122
Thanks! 🚀

[2020-08-31 13:50] siddarthkalra opened #125 "Make `callCount` and `argValues` properties private(set) and the class final in generated mock"
For e.g. instead of this

[code]

It would nice if we could generate this where properties that should not be modified outside of the class are marked as `private(set)` and the class itself is marked as `final`.

[code]

[2020-08-31 18:34] elsh commented on #119
@tinder-maxwellelliott Would you be able to take this?

[2020-08-31 19:40] siddarthkalra commented on #123
@elsh the semicolon didn't work for me either. I just tried it in my project and found that the history tracking gets added for the first function but doesn't for the second function. Maybe the script to generate my the code is wrong? I'm using

[code]

Can you possibly point me to a unit test or an example project that shows this working?

[2020-09-01 07:43] elsh commented on #123
Tests are at https://github.com/uber/mockolo/blob/master/Tests/TestArgumentsHistory/ArgumentsHistoryTests.swift. It actually seems to be generating for all regardless of what's specified. We'll take a look at this.

[2020-09-01 07:47] elsh commented on #125
Nice suggestions. We did want to make classes `final` but didn't because we wanted to allow mocks to be subclassed. We could use a flag or an annotation argument to control which ones (or all) should be `final`.

[2020-09-01 19:44] tinder-maxwellelliott commented on #108
People keep getting into issues where Xcode is not where Mockolo expects it to be

[2020-09-01 19:52] elsh commented on #108
Is it when Xcode12 is used?

On Tue, Sep 1, 2020 at 12:45 PM Maxwell Elliott <notifications@github.com>
wrote:

[2020-09-01 23:14] tinder-maxwellelliott commented on #119
Looking at this now

[2020-09-01 23:32] tinder-maxwellelliott commented on #119
This could take some time to fix as I reorient myself with the Closure code, for now you could do this to unblock yourself (if possible)

[code]

Now you can just avoid the need for that optional Closure

[2020-09-10 06:09] elsh commented on #124
Thanks for your patience. https://github.com/uber/mockolo/releases/tag/1.2.6.

[2020-09-10 06:56] elsh commented on #119
@tinder-calebdavis feel free to reopen if the issue still repros.

[2020-09-10 06:56] #119 closed

[2020-09-10 07:22] elsh commented on #123
Checked again, and it is actually generating correctly. See `testArgumentsHistoryWithAnnotationNotAllFuncCases` at https://github.com/uber/mockolo/blob/master/Tests/TestArgumentsHistory/FixtureArgumentsHistory.swift. It uses  `enableFuncArgsHistory = false`.

Example: `argumentsHistoryWithAnnotation` specifies `/// @mockable(history: fooFunc = true; barFunc = true)`.   `argumentsHistoryWithAnnotat

[2020-09-11 02:25] elsh commented on #125
https://github.com/uber/mockolo/releases/tag/1.2.8 handles both. Feel free to re-open if not resolved.

[2020-09-11 02:25] #125 closed

[2020-09-11 18:34] elsh commented on #123
Closing now as it works as expected. Feel free to re-open if you're still seeing issues with this.

[2020-09-11 18:34] #123 closed

[2020-09-17 23:07] schung7 commented on #124
I'm still running into this issue on Xcode 12.0 GA.

[2020-09-18 10:17] elsh commented on #124
Updated. Please check https://github.com/uber/mockolo/releases/tag/1.2.8 again. Thanks.

[2020-09-18 17:52] tinder-swchung commented on #124
@elsh I'm still seeing the same issue even with the latest 1.2.8 release -- works for Xcode 11.6 but not Xcode 12.0.

[2020-09-18 18:14] elsh commented on #124
Can you explain the issue? Does it not find a dylib or throws a fatal error when trying to parse?  Also can you make sure you've selected Xcode12 (`sudo xcode-select -s [path]`)?

[2020-09-21 12:38] samoilyk commented on #124
@elsh I have this issue with Xcode 12.0 as well. Latest 1.2.8 installed using Homebrew
`Fatal error: The operation couldn’t be completed. (SwiftSyntax.ParserError error 1.): file /private/tmp/mockolo-20200913-24987-c78m47/mockolo-1.2.8/Sources/MockoloFramework/Parsers/ViaSwiftSyntax/ParserViaSwiftSyntax.swift, ...`

[2020-09-21 17:05] elsh commented on #124
I see; we'll update brew.

[2020-09-21 17:20] tinder-maxwellelliott commented on #124
Brew looks up to date @elsh, see here https://github.com/Homebrew/homebrew-core/blob/4ded1b91f36c4c68ce8aaf89dfd93c7cea526d58/Formula/mockolo.rb

[2020-09-21 17:46] elsh commented on #124
Xcode version is still set to 11.4.  Doesn't that need to be changed to 12.0 manually?  Package.swift in Mockolo is now updated to use Swift 5.3 / Xcode 12.0 by default.

[2020-09-21 18:02] tinder-maxwellelliott commented on #124
Ill make a PR for this

[2020-09-21 20:31] tinder-maxwellelliott commented on #124
PR is up, but Xcode 12 is not on the Homebrew boxes yet https://github.com/Homebrew/homebrew-core/pull/61491

[2020-09-22 00:19] elsh commented on #124
Thanks for putting up the PR.  Do you know how long it usually takes them to update their env?

[2020-10-21 03:25] imairi opened #129 "How to generate mock including where condition"
[code]

The above case, mockolo generates `NetworkingMock` like the below.

[code]

The generated mock has an error about `T` does not have `ResultType`. It is because `where` conditions are missing in the mock.

How to generate mock including `where` conditions or is there an another solution?

----------------------

My expected mock:
[code]

[2020-10-21 06:57] imairi commented on #129
[code]

this is one solution, it is not to use `where` . If wants to use mockolo with this case, is it better not to use `where` ?

[2020-11-02 23:20] elsh commented on #129
Thanks for filing the issue. We will add the where clause support. If this is a blocking issue, use the workaround you have in the meantime.

[2020-11-17 08:27] elsh commented on #129
Fixed in https://github.com/uber/mockolo/releases/tag/1.2.9.

[2020-11-17 08:27] #129 closed

[2020-11-17 08:50] imairi commented on #129
Thanks @elsh 🙌

[2020-11-19 01:16] elsh commented on #124
@tinder-maxwellelliott  Would you be able to update brew with https://github.com/uber/mockolo/releases/tag/1.2.9 when you have time? Do you happen to know which Xcode 12 version is on brew CI boxes?

[2020-11-19 01:18] elsh commented on #108
Closing. Feel free to reopen if this issue arises agin.

[2020-11-19 01:18] #108 closed

[2020-12-13 10:51] ffittschen opened #131 "Avoid writing to destination file if content is unchanged"
We recently investigated our build times and discovered that `mockolo` [is always writing](https://github.com/uber/mockolo/blob/7439d3b6f40f2169752825296fd5712cdd137ae2/Sources/MockoloFramework/Operations/OutputWriter.swift#L44) to the destination file even though the content did not change. This behavior will trigger Xcode to rebuild modules in which no source code was changed (and all of the mod

[2021-01-05 22:43] elsh commented on #131
Sorry for a delay. Left a comment on your PR.

[2021-01-07 20:31] #131 closed

[2021-02-10 14:06] FranzBusch opened #133 "Is private(set) really desirable?"
We just upgraded our mockolo version and saw a bunch of build failures because we were resting the generated `callCount` properties during tests. This was necessary in our tests because of two reasons:

1. To remove any unnecessary calls that happen during a test case setup
2. If you mock a protocol with static methods, then you need to manually reset them between each test

Would it make sense to

[2021-02-11 01:56] elsh commented on #133
We can make it configurable. How soon would you need this? Also feel free to push a PR if possible. Our ETA is within the next couple of weeks.

[2021-02-11 20:58] FranzBusch commented on #133
@elsh not super critical for us right now. We just quickly changed the code that was making use of this.

I would like to understand the reasoning why making it private in the first place is desirable.

[2021-02-11 21:07] marciniwanicki commented on #133
I think `private(set)` might be quite useful to ensure the internal mock state is not accidentally tempered by the tests. If the mock needs to be reused or brought to the initial state, a `resetMock()` (or similar) method could be an alternative to ensure all of the properties are getting into the initial state.

[2021-02-11 21:34] FranzBusch commented on #133
A method to reset the mock sounds reasonable and even better than manually zeroing the counts.

[2021-02-12 09:56] elsh commented on #133
Reset is a great idea, but in this case, it actually takes less bookkeeping (thus simpler) to configure setting vars directly via an input flag.  See if https://github.com/uber/mockolo/releases/tag/1.3.1 resolves your scenario. If needed we can revisit a reset function in the future.

[2021-02-12 10:15] FranzBusch commented on #133
@elsh Thanks a lot for the quick help here! Really appreciated

[2021-02-17 00:51] #133 closed

[2021-02-17 00:52] elsh commented on #124
Please reopen if this is still an issue.

[2021-02-17 00:52] #124 closed

[2021-03-29 19:42] FranzBusch opened #134 "Duplicate access level identifier for associated types"
In the following scenario:

Generated mock file from module A
[code]

Protocol declaration from module B

[code]

Results in
[code]

@elsh Any idea why the access level modifier is duplicated here?

[2021-04-13 16:06] kylejgabriel opened #135 "Associated type protocol inheritance"
A protocol inheriting from a protocol with associated type will also inherit any configured typealias types for its generated mock, e.g.:

[code]

[2021-04-16 02:39] elsh commented on #134
@unicov can you take a look?

[2021-04-19 21:36] tinder-maxwellelliott opened #139 "Support for `weak` mock properties"
I would like to be able to specify that certain properties should be generated with the `weak` annotation. What would be a good way to add this to Mockolo's capabilities?

[2021-04-20 06:32] unicov commented on #134
https://github.com/uber/mockolo/pull/141

[2021-04-20 06:49] #134 closed

[2021-04-20 07:07] EspressoCup commented on #139
There's a 'typealias' override parameter you can pass in to the @mockable(..) argument for associatedtypes. You could something similar, i.e. create another override parameter 'attribute', and specify the var name and what its attribute should be, like so:

/// @mockable(attribute: foo = weak; bar = dynamic)
protocol P {
   var foo: SomeType? { get }
   var bar: String { get }
}

[2021-04-27 03:54] uhooi opened #142 "Impossible to generate mocks by Xcode 12.5"
The same issue as #124 occurs in Xcode 12.5.

[2021-04-27 10:06] whoover commented on #142
please fix it asap

[2021-04-27 22:06] #142 closed

[2021-04-29 08:37] psredzinski commented on #142
I've got the same issue now after updating to 12.5

[2021-04-30 05:56] EspressoCup commented on #142
I believe brew hasn’t been updated with the latest Xcode. Can you try mint install in the meantime?

[2021-05-13 10:34] keithcml opened #146 "Fail to generate mock with protocol inheritance"
Our team is also using RIBs as our app architecture.
When using Mockolo to generate mock for RootInteractable, the parent protocol methods, Interactable and InteractorScope, cannot be generated.

Example:
[code]

Generated codes:
[code]

![image](https://user-images.githubusercontent.com/5032142/118114117-bf347400-b419-11eb-959d-5bd9fe8ead67.png)

I am using the latest downloaded binary and Xcode

[2021-05-14 03:19] carlocab opened #147 "System requirements out of date?"
Your README states that the [system requirements](https://github.com/uber/mockolo/blob/daeef22ad8da44e775d1f4dd007a181594361699/README.md#system-requirements) are met by Swift 5.2, Xcode 11.4, and macOS 10.14.6.

However, it seems that your latest tagged release seems to require Swift 5.4,

https://github.com/uber/mockolo/blob/e723dc2360398e402ffcb0d8ce8c988d675f6c32/Package.swift#L4-L8

which req

[2021-05-14 03:45] keithcml commented on #146
<img width="376" alt="image" src="https://user-images.githubusercontent.com/5032142/118218279-b7bcab80-b4a9-11eb-8b76-d178ebb08d2c.png">

I can do the mock on the class of RootInteractor instead of the protocol.

But in this way, the RootInteractor class cannot mark the final keyword on it.

[2021-05-14 20:41] EspressoCup commented on #147
The requirements are now updated.

[2021-05-14 20:46] EspressoCup commented on #146
If RootInteractable and Interactable are in two different modules, they both need to be annotated with /// @mockable.

[2021-05-15 00:29] carlocab commented on #147
Thank you very much.

[2021-05-15 00:29] #147 closed

[2021-05-17 10:39] keithcml commented on #146
@EspressoCup That means I need to folk the RIBs repo and update for our own use? Is there any way that framework user can annotate instead of waiting for module maker to do it.

[2021-05-18 06:01] EspressoCup commented on #146
I should've asked this question first: are you building mocks per module (run mockolo for each target) or for the entire app (run mockolo once for your entire codebase)? My previous comment applies to the former. If the latter, only the child protocol needs to be annotated.

If the former, you have the following options.
1. Fork and add annotations yourself as you mentioned.
2. Declare all of the

[2021-05-25 04:23] jpsoultanis opened #149 "Mock generation aborts with "image not found""
`brew install mockolo`

`mockolo -s myDir -d ./GeneratedMocks.swift`
[code]

[2021-05-25 04:52] jpsoultanis commented on #149
I tried renaming my Xcode app to "Xcode.app" and running `xcode-select -s MY_DIRECTORY` and now I get a new error:

[code]

[2021-05-28 08:48] keithcml commented on #146
My situation is, I have 2 frameworks, A depends on B. I have a protocol in B (aka ProtocolB).
[code]

In Framework A, I have also had a protocol, inherit ProtocolB.
[code]

Then I write unit tests on Framework A. Only ProtocolA methods generated for ProtocolAMock.
[code]

Is it the expected behavior? @EspressoCup

[2021-05-30 09:37] uhooi opened #151 "Replace swift-tools-support-core with swift-argument-parser"
ArgumentParser in swift-tools-support-core is deprecated, should be replaced by swift-argument-parser.
ref: https://github.com/apple/swift-tools-support-core/pull/194

[2021-06-13 05:35] pejato commented on #151
I can take this on. I already have most of it done. I need to do some validation and write some tests if/where possible and then it should be ready.

[2021-07-01 22:23] HermanKayy commented on #139
@EspressoCup is this something you can add support for? Love to be able to use this

[2021-07-05 01:03] pejato commented on #151
Looks like I didn't tag this issue correctly in my PR to fix this, but this should be resolved by #153

[2021-07-05 02:12] uhooi commented on #151
Thank you very much!!
I close this issue.

[2021-07-05 02:12] #151 closed

[2021-07-16 21:43] tinder-garricnahapetian commented on #139
+1

This would be great.

[2021-07-16 22:43] EspressoCup commented on #139
Unfortunately my timeline is tbd. I can help with code reviews if anyone has a bandwidth to work on PRs if this is a pressing issue.

[2021-08-11 06:59] #139 closed

[2021-08-23 03:57] kuritatu18 opened #158 "Xcode 13 Beta 5 error build"
When I run `swift build -c release` in Xcode 13, I get the following error.
I think it's a compatibility issue with swift-syntax due to the upgrade to Swift 5.5 in Xcode 13.

[code]

[2021-08-27 18:26] adam-zethraeus opened #159 "Could you cut a release with Combine support?"
@EspressoCup Thanks so much for merging @milettal's Combine PR https://github.com/uber/mockolo/pull/155
(and thanks for the functionality, @milettal!)

Whenever it makes sense for you all, would you be able to cut a release?
(No presh. I'll just use https://github.com/ConsultingMD/mockolo until then :) )

Also, miss y'all peeps.  <3

[2021-09-03 18:34] alanzeino commented on #159
yes

[2021-09-03 18:34] alanzeino commented on #159
p.s. miss you adam

[2021-09-04 00:02] EspressoCup commented on #159
Released https://github.com/uber/mockolo/releases/tag/1.5.0

[2021-09-04 00:02] #159 closed

[2021-09-20 22:01] #158 closed

[2021-09-20 22:02] #110 closed

[2021-09-20 22:07] EspressoCup commented on #146
@keithcml Are you building mocks per module (run 'mockolo' for each target) or for the entire app (run 'mockolo' once for your entire codebase)?

[2021-09-22 09:29] vburojevic commented on #158
I still have the same issue with Mockolo 1.5.0 on Xcode 13 running on latest Big Sur.

[2021-09-23 05:47] EspressoCup commented on #158
It should be resolved on master. Feel free to reopen if that's not the case.

[2021-10-10 20:50] #146 closed

[2021-11-16 02:02] keithcml opened #167 "Cont. on #146 Fail to generate mock with protocol inheritance"
#146
@EspressoCup Sorry for disturbing you again.

[2021-11-16 05:39] EspressoCup commented on #167
You'll need to pass a --mockfiles input option with paths to files that contain mocks of protocols that you inherit (which live in different modules). Please see test examples at https://github.com/uber/mockolo/blob/master/Tests/TestOverloads/OverloadTests.swift - testOverloadInParent, testOverloadInParentAndChild, or any tests that have the `mockContent:` parameter; this is used to pass in the fi

[2021-11-24 14:43] keithcml commented on #167
thanks @EspressoCup . let me have a try first

[2021-12-02 08:34] betat opened #168 "iOS project with mockolo 1.6.2 fails to build."
## Details

I use mockolo in iOS project with using [Mint](https://github.com/yonaskolb/Mint), and manage mockolo version with `Mintfile` .
With version 1.6.1 of mockolo, the iOS project builds successfully, but if specify the version to 1.6.2, an error occurs and the build does not succeed.

### Error Message
[code]

## Environment

### OS version
macOS 11.6.1

### Swift version installed on my m

[2021-12-02 08:48] uhooi commented on #168
@betat
I have not changed SwiftSyntax in 1.6.2, so I think there is another cause.
Could you please delete the cache of Mint etc. and try again?

[2021-12-02 09:22] betat commented on #168
@uhooi

Thank you for your reaction!
I solved this issue!!

I took the following actions.
* Check the current Xcode version -> `$ xcode-select -p`
* Delete Devived Data of Xcode 12.5.1
* `mint uninstall mockolo` and `mint bootstrap`
* Rebuild (and Build Succeeded!)

[2021-12-02 09:22] #168 closed

[2021-12-02 09:27] uhooi commented on #168
@betat
I'm happy because you solved the problem :)

The reporting of the problem was very clear.
I'll be referring to it as well!!

[2021-12-04 04:15] shreyanshp opened #169 "[CI / Bitrise] Unable to generate mocks in CI [add better logging in mockolo for failure debugging!]"
Hi!

I was trying out mockolo in my project and installed the latest version 1.6.2 from brew (brew install mockolo)

Using the following command in commandline results in below error

command below
mockolo --sourcedirs /Users/vagrant/git/project/Core --destination /Users/vagrant/git/project/GeneratedMock.swift

Error below
MockoloFramework/SourceParser.swift:101: Fatal error: The operation couldn’

[2021-12-06 05:05] shreyanshp commented on #169
I do understand that the above `SwiftSyntax.ParserError error 1.` does not convey any actionable data, however I would suggest to add an error wrapper in mockolo to provide more information on what went wrong, how we can fix it rather than just saying `MockoloFramework/SourceParser.swift:101: Fatal error: The operation couldn’t be completed. (SwiftSyntax.ParserError error 1.)`

In the meantime, I

[2021-12-06 09:13] shreyanshp commented on #169
Thank you so much for your reply @EspressoCup , much appreciated!

I moved to 1.6.3 and still see the same issue 🙇

MockoloFramework/SourceParser.swift:101: Fatal error: The operation couldn’t be completed. (SwiftSyntax.ParserError error 1.)

using the binary from the release file for ease of replication, rather than brew

[2021-12-10 20:37] tinder-richardchildress opened #170 "Issue when Generating Mocks with Protocol Composition"
Howdy! I am trying to generate a mock for a protocol that inherits from other protocols using protocol composition. When testing this, I tried the following:

[code]

And the result of generating mocks was the following:

[code]

which fails to compile as TestProtocolMock does not conform to SecondSwiftProtocol. Interestingly, if I wrap the conformance:
[code]

The mock is:

[code]
Additionally, i

[2021-12-11 03:41] ankithTao commented on #170
Hi @tinder-richardchildress, I came across the same issue.
here's my question on  [stackoverflow](https://stackoverflow.com/questions/70312361/uber-mockolo-issue-protocolamock-generated-type-protocolamock-does-not-confo)
I will also tag this issue on my post.
Hope to get this issue solved soon. Sai :)

[2021-12-23 13:00] RoryKelly commented on #167
For anyone else looking for a solution

[2021-12-27 03:32] ankithTao commented on #170
@tinder-richardchildress

check your mockolo script in your build phases, make sure that ur protocol B is defined inside the source directory of the script.
`./mockolo -s ./protocolB.swift -d ./OutputMocks.swift`
[stackoverflow](https://stackoverflow.com/a/70491413/15011716)

[2021-12-27 20:30] vsanthanam opened #171 "Actor annotated protocols don't work"
If you annotate a protocol with a global actor, such as @MainActor, its generate mock doesn't compile:

Given
[code]

the mock will fail with this compilation error:

[code]

The solution, I believe, would be to also add the actor annotation to the Mock

An identically generated mock, with the `@MainActor` annotation would work just fine.

I believe there would be similar errors for per-member ann

[2022-01-12 15:12] ffittschen opened #172 "Bug: Specifying multiple mock file paths is broken"
Prior to 1.5.0, it was possible to specify multiple mock file paths with the `-mocks` argument separated by a space, e.g.

[code]

With the switch to the Swift Argument Parser in 1.5.0, this doesn't seem to be possible anymore. When running `mockolo` directly in Xcode and adding a breakpoint in [Executor.swift#L173](https://github.com/uber/mockolo/blob/94a78fcc70f3c455d103b6bbce3ff068b8110941/Sour

[2022-01-12 23:10] EspressoCup commented on #172
Nice catch! Yes please make a PR for all `[String]` options with that parsing strategy. Thanks.

[2022-01-14 10:41] saltyskip opened #174 "Support RXSwift Traits: Single, Completable, Maybe,"
Is there any chance to support RXSwift trait types Single, Completable, and Maybe? I believe they would be handled in mostly the same way as the existing observables.

https://github.com/ReactiveX/RxSwift/blob/main/Documentation/Traits.md#rxswift-traits

[2022-01-14 22:35] #172 closed

[2022-01-17 11:58] keithcml opened #175 "Mock for Combine"
I have tried to annotate with the following for my AnyPublisher

[code]
But the generator produces PassthroughSubject as

[code]

I would expect there is a CurrentValueSubject instead.

[2022-01-17 11:59] keithcml commented on #167
It works !

[2022-02-03 21:59] adam-zethraeus opened #176 "Xcode 13.2.1 warns on /// @mockable annotations"
<img width="657" alt="CleanShot 2022-02-03 at 12 46 54@2x" src="https://user-images.githubusercontent.com/509838/152435683-7250824b-0f78-4b0a-aa4e-662e882ce3d0.png">

I guess it's trying to be nice and tell you what doesn't work in [DocC](https://developer.apple.com/documentation/xcode/formatting-your-documentation-content).

Although, given DocC's /// standard, would it be worth making the annota

[2022-02-03 22:00] adam-zethraeus commented on #176
(If you like the suggestion, LMK an I'll try taking it on)

[2022-02-03 22:13] EspressoCup commented on #176
Yup go for it 👍

[2022-02-22 16:53] ffittschen commented on #175
We are currently facing the same issue. After investigating it a bit, it only fails to generate the mock as a `CurrentValueSubject`, if it can't find any default value. E.g. in the following example, mockolo will generate a `fooPublisherSubject = PassthroughSubject<FooEnum, Never>()` and a `barSubject = CurrentValueSubject<Bool, Never>(false)`

[code]

In [these lines of code](https://github.com/u

[2022-02-23 06:32] #176 closed

[2022-03-21 14:38] uhooi opened #180 "Outdated README in MockoloFramework"
SSIA
We may want to remove it.
https://github.com/uber/mockolo/blob/master/Sources/MockoloFramework/README.md

[2022-03-21 14:40] uhooi commented on #180
`LICENSE.txt` is also a duplicate of the file in the root.

[2022-03-21 20:05] #180 closed

[2022-03-28 02:14] uhooi commented on #171
@vsanthanam
I can generate mocks with no problem.
Would the same error occur if you use the latest version of Mockolo (1.7.0)?

[2022-03-28 19:49] SredzinskiPatryk opened #182 "xcode 13.3 - fatal error - SwiftSyntax.ParserError 1"
`MockoloFramework/SourceParser.swift:103: Fatal error: The operation couldn’t be completed. (SwiftSyntax.ParserError error 1.)`

I do receive that error after updating my Xcode to 13.3. I was working previously on 13.2.1

[2022-03-28 21:17] ManuC2001 commented on #182
same issue with brew installation.

 It's probably linked to the swift 5.6 compatibility (cf. Package.swift line 9)

I rebuild it from source code (option 4 in the installation doc) and removed this line in the Package.swift and solved the issue.

[2022-03-29 06:48] bezoadam commented on #124
I have same error now with Xcode 13.3 and mockolo version 1.7.0 😕

[2022-03-29 07:16] uhooi commented on #182
What version of Mockolo is installed by Homebrew?
I am wondering if `1.7.0` also causes an error.

[2022-03-29 07:52] psredzinski commented on #182
Yes it fails on 1.7.0

[2022-03-29 07:55] bezoadam commented on #182
I have version `1.7.0` and have same issue with Xcode 13.3

[2022-04-01 11:00] sidepelican opened #184 "PassthroughSubject created without combine annotation"
This protocol has no `combine` annotation, but generated mock has special implementation using `PassthroughSubject` .

- source
[code]

- generated
[code]

I want to set my own `AnyPublisher` to mock object.
It seems that there are no way to disable generating special mock for Combine.

mockolo version: 1.7.0

[2022-04-04 03:25] entaku0818 commented on #182
I have same issue with Xcode 13.3.
Mockolo was installed by Mint.

[code]

Below is the build log.

[code]

[2022-04-04 06:49] szk2s commented on #182
I have same issue with Xcode 13.3. I'm using Mockolo v1.7.0 installed by Homebrew.

[2022-04-06 07:57] psredzinski commented on #182
1.7.0 works on 13.3 when installed using MINT

[2022-04-12 13:19] uhooi opened #185 "Allow Computed Properties that return Self"
Computed properties that return `Self` also return `Self` in the mock.

[code]

I would like the mock class return.

[code]

## Reference

- https://github.com/uber/mockolo/pull/118

## Version

- Mockolo: 1.7.0

[2022-04-20 23:51] wickwirew commented on #182
Ran into the same issue. Worked if I cloned it and ran it locally. Reinstalling and building from source fixed it for me.
[code]

[2022-04-25 22:52] maxwellE commented on #184
I created this PR https://github.com/uber/mockolo/pull/186

[2022-04-27 16:06] maxwellE commented on #184
Merged #186

[2022-04-27 16:06] #184 closed

[2022-04-27 16:07] maxwellE commented on #175
I believe this was fixed in #186 ?

[2022-04-27 16:08] maxwellE commented on #149
Brew is notoriously bad about managing these kinds of relationships between Xcode, the SwiftSyntax dylib and this library. I think we should open a ticket on homebrew for this issue since I am able to use `swift run mockolo`, meaning there is no issue in the source code

[2022-04-27 16:10] maxwellE commented on #182
I think this is an issue caused by brew and not the source code, can we open a ticket there and close this one?

[2022-04-28 07:54] sidepelican commented on #184
Thank you!!

[2022-05-25 15:53] vsanthanam commented on #171
Seems to be happening even on 1.7
note that *generating* the mocks isn't the problem. Its that the mocks aren't compilable.

[code]

The mocks cannot invoke the initializers of their actor dependent mocks because they are not annotated correctly

Here's an attached generated but non-compiling example:
[Mocks.swift.txt](https://github.com/uber/mockolo/files/8772638/Mocks.swift.txt)

[2022-06-03 09:29] mhdabdulhameed opened #188 "Release 1.7.0 is missing the binary"
The latest release of Mockolo doesn't have the binary attached in the GitHub release. I think it would be great to have it attached :)

![Screenshot 2022-06-03 at 11 28 42](https://user-images.githubusercontent.com/22226689/171828258-3c6c1f31-1617-4aa0-a1b4-739eb8670c19.png)

[2022-06-06 15:32] developer-9 commented on #124
I'm still running into this issue on Xcode 13.3.1 using mockolo 1.7.0!

[2022-06-09 05:28] keshavgn commented on #182
Hi
I have version `1.7.0` and Xcode 13.4.1, getting the same error

[code]
Please need your help. Thanks

[2022-06-21 07:08] maiyama18 opened #189 "Fails silently when destination directory does not exist"
When the path passed to `--destination` option has non-existent parent directory, mockolo fails to create mock file but it cannot be read from the log message.

[code]

I think it would be less confusing if error message like `destination directory /NonexistentDirectory does not exist` is shown in this situation.

If it's OK, I'd be happy to create a PR for this. Please close this issue if the cur

[2022-06-22 13:21] uhooi commented on #189
I'm not familiar with Mockolo's history, but I would be happy to have you create a PR :)

[2022-06-22 21:16] EspressoCup commented on #188
To create a binary, run https://github.com/uber/mockolo/blob/master/install-script.sh with input target name `mockolo` and output `mockolo.tar.gz`.

[2022-06-23 00:45] uhooi opened #191 "Automatic generation of binaries at release time"
Use GitHub Actions to automatically generate binaries at release time.

## References

- https://github.com/uber/mockolo/issues/188#issuecomment-1163802704
- https://github.com/uhooi/swift-output-uhooi/blob/b7a4c3f322190f91b8a9ecb7b3cd3b0796aae13f/.github/workflows/release.yml

[2022-06-25 07:42] #188 closed

[2022-07-02 07:46] #189 closed

[2022-07-02 07:47] #191 closed

[2022-07-09 01:42] fummicc1 opened #194 "Mock generation fails when loading lib_InternalSwiftSyntaxParser.dylib"
## What Happened

Hello, I am new to mockolo but this library is very great as a mock generator. After I installed mockolo via [Mint](https://github.com/yonaskolb/Mint), I ran the following [run comamnd](#run-command) from Terminal and got the [error log](#log).

## Environments

- M1 MacbookAir
- macOS: Ventura
- Xcode: Version 14.0 beta 2 (14A5229c)
- mockolo: 1.7.0
- mint: 0.17.1

## Run Comman

[2022-07-15 12:02] fummicc1 commented on #194
Note:
I think this error occures when swift toolchain is for Swift 5.7. Because I can generate mock by re-compiling mockolo locally, where Xcode14 beta is installed.

Tips:
I can avoid this error by the following way.

1. Clone this mockolo repository
2. Run `swift build -c release` with current directory `mockolo`. (Notice that `xcodebuild -p` shows Xcode14 beta path.)
3. run executable file.

[2022-07-22 05:33] pavm035 opened #195 "Invalid CPU type"
I have two issues to report

1. When i try to use binary directly on Intel machine it's throwing Bad CPU type, After inspecting found that this binary is only arom64 compatible and missing x86 support, Would you please consider adding support that x86(intel) architecture?

2. Try to build docker image from this source code but it failed due to one of the system framework os.signpost not available

[2022-08-04 02:25] sidepelican commented on #194
This should be fixed by mint.
mockolo has dependency of `@rpath/lib_InternalSwiftSyntaxParser.dylib`(you can check this by `otool -L <your/mockolo/path>`) , and `swift build` puts `lib_InternalSwiftSyntaxParser.dylib` to the same directory to `mockolo`.
mint copies `mockolo` to mint's cache directory but doesn't copy  `lib_InternalSwiftSyntaxParser.dylib`. so `lib_InternalSwiftSyntaxParser.dylib`

[2022-08-06 10:07] fummicc1 commented on #194
Thank you, sidepelican, for your reply.
Actually I am not familiar with dylib, so I am probing the origin of that problem. (I think `install_name_tool` may be helpful 👀 to overwrite `rpath` of dylib... or I have mint directly copy all files in `@executable_path` to `.mint/packages/.../build` folder.)

[2022-08-12 11:21] mithatsk commented on #195
I also had the Bad CPU type error but building the binary on the local machine and using that build fixed this error for me. Following the below instructions on the home page should help with it.

[code]

After running above commands you can copy the executable and move it to your project folder.

[2022-08-12 13:24] mithatsk commented on #170
If your protocol extends to another protocol that was defined in a different module/target. You can include the generated mock/mocks after the -mock flag (for multiple files put a space between them)

./mockolo -s YourSourcePath -mocks OtherModulePath/TestProtocolMocks.swift  -d OutputPath/Mocks.swift

[2022-08-19 19:53] fummicc1 commented on #194
@sidepelican @uhooi @sidepelican

I realized the origin of this error is that `swift-syntax` for swift5.6  is used in `mockolo`, and swift syntax is developing `relase/5.7` with the head commit https://github.com/apple/swift-syntax/commit/4f33e361829415ab913778a582eda3ad682f81c1.

---

That's why mockolo needs to upgrade swift-syntax to  `release/swift5.7` or wait until `0.5.07...` tag of swift-sy

[2022-08-19 19:53] fummicc1 commented on #194
@sidepelican @uhooi @yutailang0119

I realized the origin of this error is that `swift-syntax` for swift5.6  is used in `mockolo`, and swift syntax is developing `relase/5.7` with the head commit https://github.com/apple/swift-syntax/commit/4f33e361829415ab913778a582eda3ad682f81c1.

---

That's why mockolo needs to upgrade swift-syntax to  `release/swift5.7` or wait until `0.5.07...` tag of swift-

[2022-08-19 19:58] fummicc1 commented on #194
<img width="1440" alt="スクリーンショット 2022-08-20 4 07 40" src="https://user-images.githubusercontent.com/44002126/185697472-956884a7-b41b-4dbf-944a-4a3e563da43a.png">

I captured the point of using swift-syntax 0.506 tag, this point needs to be swift syntax 0.507 tag when supporting Xcode14, I think.

[2022-08-19 22:43] #194 closed

[2022-08-25 01:16] Solace-Studios commented on #182
Is there a link to the brew ticket?

[2022-08-25 01:35] tinder-maxwellelliott commented on #182
Feel free to make another, or even better make a PR to the brew formula

[2022-08-29 08:15] tzxdtc opened #202 "Git repo not found at "https://github.com/uber/mockolo.git""
Hi,

When I use mint to clone the project for the version 1.7.1 , the error showed and failed to clone. While it is ok if I switch to the version 1.7.0.

[code]

[2022-08-29 09:50] tzxdtc commented on #202
I tried again and it is OK right now. Maybe it is not an issue.🙏

[2022-08-29 09:50] #202 closed

[2022-09-08 08:11] hukusuke1007 opened #203 "Build fails with Xcode14."
Build fails. Is there a solution?

# Env
Xcode14 RC
swift 5.7
mockolo 1.7.1
mint 0.17.1
Apple Silicon Mac (M2 Mackbook Air)

# Log
[code]

[2022-09-13 05:57] beryu commented on #203
@hukusuke1007
I faced the same problem on mockolo 1.7.1 and solved it by version down to 1.7.0.
(It's just a workaround, I'm also searching for the correct solution...)

[2022-09-14 06:47] vburojevic commented on #203
Getting the same issue on Xcode 14 on 1.7.1. Not working on 1.7.0 either.

[2022-09-14 10:21] ShogoSaito0607 commented on #203
I get the same issue on XCode14 on 1.7.0(via mint).

[2022-09-15 09:58] bebecap commented on #203
@vburojevic @ShogoSaito0607
I found a workaround by putting `lib_InternalSwiftSyntaxParser.dylib` from Xcode 13.4 to Xcode 14.
There is a path for me: '/Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/lib/swift-5.5/macosx/lib_InternalSwiftSyntaxParser.dylib'

[2022-09-19 05:21] huypq-1004 commented on #182
For anyone who installs `mockolo` by Mint or Homebrew:
This happened by missing `lib_InternalSwiftSyntaxParser.dylib` come along with the `mockolo` released binary.
We need to fix how Mint and Homebrew install these files.

My workaround:
Step 1: Download `tar.gz` binary zipped file from https://github.com/uber/mockolo/releases/tag/1.7.1
Step 2: Extract, and copy all the files in the extracted fol

[2022-09-29 02:56] fummicc1 commented on #203
This problem can be fixed by using Mint `0.17.2`. If anything else comes up, please let me know🙏
- ChangeLog: https://github.com/yonaskolb/Mint/blob/master/CHANGELOG.md#0172

[2022-10-28 05:58] uhooi commented on #203
This Issue is closed now that Mint has been released.

[2022-10-28 05:58] #203 closed

[2022-11-04 01:18] OhKanghoon commented on #203
@uhooi
https://formulae.brew.sh/formula/mockolo

mockolo in brew is still 1.7.1.
can you check it?

[2022-11-08 10:48] n-belokopytov opened #206 "1.8.0 Release on Brew blocked by failing tests: on arm64 lib_InternalSwiftSyntaxParser.dylib not found"
Hey there, I've just found out that the 1.8.0 has not been released on brew. Here is the pipeline:
https://github.com/Homebrew/homebrew-core/actions/runs/3349028971/jobs/5548712516

I am not an iOS engineer, so I have no idea where to look for the problem. Can anyone support?

Seems like test 12 cannot find a lib for arm64:
**Library not loaded: '@rpath/lib_InternalSwiftSyntaxParser.dylib**

Below

[2022-11-08 11:33] n-belokopytov commented on #108
The issues is back, this time on Homebrew itself - it blocks the release of Mockolo 1.8.0.
https://github.com/Homebrew/homebrew-core/actions/runs/3349028971/jobs/5548712516

I've also opened a new issue for this, since I feel like this can be fixed on the build configuration level: https://github.com/uber/mockolo/issues/206

[2022-11-11 19:40] NumbrSeven opened #207 "Incorrect mock generated for composed protocol"
If I define the following protocols in the same file:

[code]

Then the resulting generated mocks are:

[code]

Looking at the `BothMock` class above, it only conforms to `First` and doesn't include conformance to `Second`. This then results in a compilation error since `BothMock` doesn't ultimately conform to the `Both` protocol.

[2022-11-23 06:21] uhooi commented on #195
@pavm035
Sorry, this issue should have been fixed by #200 here, and I would like you to try again.

[2022-11-23 06:23] uhooi commented on #207
Thanks for the report. I would be happy to create a PR for you as I can't fix it right away.

[2022-11-23 06:25] uhooi commented on #149
It does not appear to be a Mockolo problem, so I will close it.

[2022-11-23 06:25] #149 closed

[2022-11-23 06:27] uhooi commented on #167
It looks fine, so I will close it.

[2022-11-23 06:27] #167 closed

[2022-11-23 06:27] uhooi commented on #169
@shreyanshp Does this problem still occur?

[2022-11-23 06:30] uhooi commented on #207
Close as it appears to be a similar issue to #170.

[2022-11-23 06:30] #207 closed

[2022-11-23 06:34] uhooi commented on #175
@keithcml Can you confirm that it is fixed?

[2022-11-25 01:40] slightair commented on #206
Fixed https://github.com/Homebrew/homebrew-core/pull/116229

But, command shows old version.
Please update Version.swift with the next version. mockolo contributors.
https://github.com/uber/mockolo/blob/1.8.0/Sources/MockoloFramework/Version.swift#L6